<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
    <link rel="stylesheet" type = "text/css" href = "../static/style.css">
  </head>
  <body>
    How to Use this Search Engine:
    <p/>
    1.Enter in the name of a place, whether it's a city or country
    <p/>
    2.Press the "Search!" button to continue
    <p/>
    3.Expect a general description of the place + a map of it
    <p/>
    <form method = "POST">
      Search Location: <input type = "text" name = "location">
      <p/>
      <input type = "submit" name = "button" value = "Search!">
      </form>
  </body>
</html>
